<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
</head>

<body>
<h1></h1>

<ul>
{% for election in object_list %}
            <li>{{ election.name }}
  <ul>
    {% for ballotentry in election.ballotentry_set.all %}
    <li>{{ ballotentry.candidate.name }} (Position: {{ ballotentry.position }})</li>
    {% endfor %}
        </ul>
         </li>
        {% endfor %}
</ul>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sat Sep  6 13:58:07 EST 2014 <!-- hhmts end -->
</body> </html>
